body {
  padding-top: 20px;
  padding-bottom: 20px;
}

h1{
	color: #F7F8E0;
	text-shadow: 2px 2px #0101DF;  
}

p{  
	font-size: 20;
	text-align:top-right;

}

 #computing{
color: #424242;
font-style: italic;
font-size: 25;
float: left;
display: inline-flex;
 }

 #management{
 color: #424242;
font-style: italic;
font-size: 25;
float: center;
display:inline-flex;
}

 #engineering{
 color: #424242;
font-style: italic;
font-size: 25;
float: center;
display:inline-flex;
 }

.logo
{width:100px;
height:75px;

right:1000px;
top:10px;
}