/*external stylesheet for Hall allocation page*/

/*background image*/
body {
   background-image: url("#"); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-repeat:no-repeat;
  background-size: cover;
}

